.DS_Store
set_env.sh
terraform/.terraform/**
terraform/.terraform.lock.hcl
terraform/solution.plan
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.kube/**
terraform/.terraform.tfstate.lock.info
deployments/k8s/aws-secret.yaml
deployments/k8s/env-configmap.yaml
deployments/k8s/env-secret.yaml
