apiVersion: v1
kind: ConfigMap
data:
  AWS_BUCKET: your_bucket
  AWS_PROFILE: default
  AWS_REGION: your_region
  POSTGRES_DB: your_postgres_db
  POSTGRES_HOST: your_postgres_host
  URL: http://a9ef139482fd8494a88c66c6275d101b-1044617686.us-east-1.elb.amazonaws.com
metadata:
  name: env-config
  